*{
    margin: 0%;
    padding: 0%;
}

@font-face {
    font-family: playWrite;
    src: url(./Playwrite_DE_Grund/PlaywriteDEGrund-VariableFont_wght.ttf);
}

input[type=text]{
    margin-top: 10px;
    width: 250px;
    height: 32px;
    padding-left: 10px;
    font-family: playWrite;

}

.doctorsInput{
    border: none;
    background-color: transparent;
    resize: none;
    user-select: none;
    outline: none;
    font-family: playWrite;
}

body{
    font-family: playWrite;

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: pink;
}

.formBase{
    width: 90%;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    border: 1px solid whitesmoke;

}

.docComment, .prescription{
    width: calc(100% - 20px);
    height: 220px;
    background-color: antiquewhite;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

.nextVisit{
    width: 100%;
    height: 220px;
    padding-top: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;

}

.one, .two{
    background-color: antiquewhite;

}

.doctorsInputVisit{
    margin-top: 20px;
    border: none;
    background-color: transparent;
    resize: none;
    user-select: none;
    outline: none;
    font-family: playWrite;
    padding-left: 10px;
    padding-top: 10px;
}
