
<div class="view">
    <div class="left">

        <div class="title">
            <h3 class="c1"> Cycle history </h3>
            <div class = "MyDiv">
                <p>see all</p>
            </div>
        </div>

        <div class="first_category">
            <div class = "MyDiv2">
            <p class ="nod" style="display: inline; margin-left: 5px; font-size: 16px"> Current Cycle:  <span class="sp">Month date year  Number of days<span></p> 
            </div>

            <div class = "MyDiv3">
                <p class ="nod" style="display: inline; margin-left: 5px; font-size: 16px"> Former Cycle:  <span class="sp">Month date year ,Number of days<span></p> 
            </div>

            <div class = "MyDiv4">
                <p class ="nod" style="display: inline; margin-left: 5px; font-size: 16px"> Former Cycle:  <span class="sp">Month date year ,Number of days<span></p>
            </div>

            <div>
                <h3 class="c2"> Cycle history Details </h3>
            </div>
        </div>

        <div class="second_category">
            <div class = "MyDiv5">
                <p class ="nod" style="display: inline; margin-left: 10px; font-size: 16px"> Your last Period began:  <span class="sp">Month Date Year</span>  </p>
            </div>


            <div class = "MyDiv6" style="display: flex; align-items: center; margin-bottom: 15px">
                <img src="../images/clock.png" height="32px" width="32px">
            <p class ="nod" style="display: inline; margin-left: 10px; font-size: 16px"> Your period lasted:  <span class="sp">8 Days<span></p>  
            </div>


            <div class = "MyDiv0" style = "display: flex; align-items:center">
                <img style="border: 2px solid black; border-radius: 15px" src ="../images/blood-droplet.png" height = "30px" width="30px">
                <p class ="nod" style="display: inline; margin-left: 10px; font-size: 16px"> your blood flow was:  <span id = "sp6"> medium </span> </p>

            </div>
        </div>


        <div class="third_category">

            <div class=" MyDiv7">
                <p class ="nod" style="display: inline; margin-left: 5px; font-size: 16px"> Last Cycle dates were:  <span class="sp">Month date year(using a list)<span></p>
            </div>

            <div class=" MyDiv8" style="display: flex; align-items: center">
                <img src="../images/calendar.png" height="24px" width="24px">
                <p class ="nod" style="display: inline; margin-left: 10px; font-size: 16px">Your cycle length was: <span class="sp">calculated from the above inputs</span>   </p>
            </div>

            <div class=" MyDiv9">
                <p class ="nod" style="display: inline; margin-left: 5px; font-size: 16px"> Your last six cycles were:  <span class="sp">Normal or Abmnormal<span></p>
            </div>

            <div class=" MyDiv10">
                <p class ="nod" style="display: inline; margin-left: 5px; font-size: 16px"> You mostly likely ovulated on:  <span class="sp">Month date year<span></p>
                
            </div>
        </div>

    </div>

    <div class = "right">
        <div class="fourth_category">
            <div class=" MyDiv11">
                <p class ="nod" style="display: inline; margin-left: 5px; font-size: 16px"> Your predicted fertile window was:  <span class="sp">Month date year(list)<span></p>
            </div>
    
            <div class=" MyDiv12">
                <p class ="nod" style="display: inline; margin-left: 5px; font-size: 16px"> Your missed periods were in months of :  <span class="sp">Month date year <span></p>
                
            </div>
    
            <div class=" MyDiv13">
                <p class ="nod" style="display: inline; margin-left: 5px; font-size: 16px"> Number of months with missed periods:  <span class="sp">Counted from above<span></p>
                
            </div>
    
            <div class=" MyDiv14">
                <p class ="nod" style="display: inline; margin-left: 5px; font-size: 16px"> Your Months of late periods:  <span class="sp">Month date year(in a list)<span></p>
                
            </div>
    
            <div class=" MyDiv15">
                <p class ="nod" style="display: inline; margin-left: 5px; font-size: 16px"> Number of days in a month by which the period was late:  <span class="sp">Month,number of days <span></p>
                
            </div>

            <div class=" MyDiv16">
                <p class ="nod" style="display: inline; margin-left: 5px; font-size: 16px"> Body Mass Index:  <span class="sp">BMI<span></p>
                
            </div>
        </div>

        <div class = "mybtn1" >
            <button id="b1"> VIEW TRENDS </button>
        </div>
    </div>
    
    <style>
        .c1{
            display: inline;
            margin-bottom: 5px;
            margin-top: 25px;
            margin-left: 120px;
            font-size: 30px;;
        }

        .c2{
            margin-top: 35px;
            text-align: center;
            margin-bottom: 25px;
            font-size: 30px;
            
        }


        .MyDiv{
            margin-left: 80px;
            font-size: 20px;
        }

        .MyDiv:hover{
            color:rgb(13, 35, 238);
            cursor: pointer;
        }

        .title{
            display: flex;
            align-items: center;

        }
        .left{
            background-color: beige;
            width: 55vw;
            padding-left: 20px;
            
        }

        #nod1{
            color: rgb(253, 8, 49);
        }
        
        .sp {
            color: #f20404;
        }
        .right{
            
        background-color: beige;
           
            width: 45vw;
            height: 95h;
            display: flex;
            justify-content: center;
            align-items: end;
        
            
        }

        .mybtn1{
            width: 100%;
            text-align: center;
            padding-bottom: 10px;
            
        }

        #b1{
            font-size: 18px;
            padding: 5px 24px;
            border: 2px solid black;
            border-radius: 10px;
        }

        .mybtn2{
            width: 100%;
            text-align: center;
            padding-top: 10px;

        }

        #b2{
            font-size: 18px;
            padding: 5px 24px;
            border: 2px solid black;
            border-radius: 10px;
        }
            
        .MyDiv2, .MyDiv3, .MyDiv4, .MyDiv7, .MyDiv8, .MyDiv9, .MyDiv10, .MyDiv11, .MyDiv12, .MyDiv13, .MyDiv14{
        margin-top: 34px;
        
        }

        .MyDiv5{
            margin-bottom: 20px;
        }
        .MyDiv15{
            margin-top: 34px;
            margin-bottom: 34px;
        }
        body{
            display: flex;
            padding-left: 24px;
            padding-top: 24px;
            padding-right: 24px;
            padding-bottom: 24px;

            background-color: antiquewhite;
        }

        .first_category {
            border: 1px solid white;
            padding-left: 20px;
            width: 70%;
            border-radius: 20px;
            margin-left: 10%;
            background-color: white;
        }

        .second_category{
            border: 2px solid white;
            padding-left: 30px;
            margin-left: 10%;
            width: 70%;
            border-radius: 20px;
            padding-top: 20px;
            padding-bottom: 15px;
            background-color: white;

        }

        .third_category{
                border: 2px solid white;
                padding-left: 30px;
                width: 75%;
                margin-left: 10%;
                border-radius: 20px;
                margin-top: 20px;
                padding-bottom: 20px;
                background-color: white;
        }

        .fourth_category{
                border: 2px solid white;
                padding-left: 30px;
                width: 100%;
                border-radius: 20px;
                margin-top: 20px;
                margin-bottom: 50px;
                margin-left: 10%;
                margin:auto;
                padding-bottom: 2px;
                background-color: white;
        }


        .MyDiv4{
            margin-bottom: 30px;
        }
    </style>   
</div>