<div class="view">
    <div class="left">
        <div class="title">
            <h3 class="section-title">Cycle history</h3>
            <div class="link">
                <p>see all</p>
            </div>
        </div>

        <div class="category first-category">
            <div class="item">
                <p class="detail">Current Cycle: <span class="highlight">Month date year Number of days</span></p>
            </div>
            <div class="item">
                <p class="detail">Former Cycle: <span class="highlight">Month date year, Number of days</span></p>
            </div>
            <div class="item">
                <p class="detail">Former Cycle: <span class="highlight">Month date year, Number of days</span></p>
            </div>
        </div>

        <div>
            <h3 class="section-title center">Cycle history Details</h3>
        </div>

        <div class="category second-category">
            <div class="item">
                <p class="detail">Your last Period began: <span class="highlight">Month Date Year</span></p>
            </div>
            <div class="item flex">
                <img src="../images/clock.png" height="32px" width="32px">
                <p class="detail">Your period lasted: <span class="highlight">8 Days</span></p>
            </div>
            <div class="item flex">
                <img class="bordered" src="../images/blood-droplet.png" height="30px" width="30px">
                <p class="detail">Your blood flow was: <span id="blood-flow">medium</span></p>
            </div>
        </div>

        <div class="category third-category">
            <div class="item">
                <p class="detail">Last Cycle dates were: <span class="highlight">Month date year (using a list)</span></p>
            </div>
            <div class="item flex">
                <img src="../images/calendar.png" height="24px" width="24px">
                <p class="detail">Your cycle length was: <span class="highlight">calculated from the above inputs</span></p>
            </div>
            <div class="item">
                <p class="detail">Your last six cycles were: <span class="highlight">Normal or Abnormal</span></p>
            </div>
            <div class="item">
                <p class="detail">You most likely ovulated on: <span class="highlight">Month date year</span></p>
            </div>
        </div>
    </div>

    <div class="right">
        <div class="category fourth-category">
            <div class="item">
                <p class="detail">Your predicted fertile window was: <span class="highlight">Month date year (list)</span></p>
            </div>
            <div class="item">
                <p class="detail">Your missed periods were in months of: <span class="highlight">Month date year</span></p>
            </div>
            <div class="item">
                <p class="detail">Number of months with missed periods: <span class="highlight">Counted from above</span></p>
            </div>
            <div class="item">
                <p class="detail">Your Months of late periods: <span class="highlight">Month date year (in a list)</span></p>
            </div>
            <div class="item">
                <p class="detail">Number of days in a month by which the period was late: <span class="highlight">Month, number of days</span></p>
            </div>
            <div class="item">
                <p class="detail">Body Mass Index: <span class="highlight">BMI</span></p>
            </div>
        </div>
        <div class="button-container">
            <button class="button">VIEW TRENDS</button>
        </div>
    </div>
</div>
